<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:icon="@mipmap/app_icon"
            android:allowBackup="true"
            android:label="Geary Golf"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <activity
                android:name="org.example.AndroidLauncher"
                android:label="Geary Golf"
                android:screenOrientation="sensorLandscape"
                android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
                android:windowSoftInputMode="adjustPan"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>